body{
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.panel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel{
    flex: 1;
    margin: 10px;
    height: 80vh;
    position: relative;
    transition: flex 0.7s ease-in;
    cursor: pointer;
}
.panel img {
    border-radius: 10px;
}
.img-size{
    min-height: 80vh;
}
.panel.active{
    flex: 5;
    transition: all 0.5s ease-in;
}

.mw-100{
    max-width: 100%;
    height: auto;
}
